<div class="chart" id="bargraph">
	<script type="text/javascript" src="/static/js/plotly-latest.min.js"></script>
	<script type="text/javascript" src="/static/js/d3.min.js"></script>
    <script>
        var graphMonth = {{graphMonth | safe}};
        var feature = {{feature | tojson}};
        try{
        	Plotly.plot('bargraph',graphMonth,{xaxis:{title:{text:feature }}, yaxis:{title:{text:"Frequency" }}});	
        }catch(e){
        	Plotly.plot('bargraph',graphMonth,{});	
        }
    </script>
</div>
        
<div class="chart" id="secondGraph">
    <script type="text/javascript" src="/static/js/plotly-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
    <script>
        var graphCount = {{graphCount | safe}};
        var feature = {{feature | tojson}};
        try{
            Plotly.plot('secondGraph',graphCount,{ xaxis:{title:{text:"Frequency" }}, yaxis:{title:{text:feature }}} );  
        }catch(e){
            Plotly.plot('secondGraph',graphCount,{});  
        }
    </script>
</div>


